*{
    margin: 0;
    padding: 0;
}
.header{
    width:1200px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}
 .headerlogo{
    display: inline;
    margin: 0 0 0 -100px;
    position: relative;
} 
.header p{
    margin: 20px 0 0 -160px;
    font-size: 20px;
}
.headermenu{
    overflow: hidden;
    padding: 8px 0 0 0;
    margin: 0 -100px 0 400px;
}
.headermenu ul{
    list-style: none;
}
.headermenu li{
    float: left;
    margin-left: 5px;
}
.headermenu span{
    margin-right: 5px;
}
