.page{
    width: 100%;
    height:915px;
    background-image: url('/Imgs/forgot.jpg');
    background-size: cover;
  }
  .box{
    border: 1px rgb(244, 246, 247);
    width: 80%;
    height: 200px;
    padding: 10px 10px;
    float: left;
    margin-top: 12%;
    margin-left: 14%;
    /* margin-bottom: 250px;
    margin-left: 780px;
    margin-right: 500px; */
  }
  .clearfix:after{
    display: block;
    content: " ";
    clear: both; 
}